.controls {
  transition: opacity 150ms ease;
  opacity: 0;
}

.root:hover {
  .controls {
    opacity: 1;
  }
}

.cardSection {
  display: flex;
  justify-items: center;
  align-items: center;
  position: relative;
}

.promotion {
  position: absolute;
  top: var(--mantine-spacing-xs);
  right: 10px;
  pointer-events: none;
}
