.controls {
  transition: opacity 150ms ease;
  opacity: 0;
}

.root:hover {
  .controls {
    opacity: 1;
  }
}

.card {
  display: flex;
  justify-items: center;
  align-items: center;
  width: auto;
}

.image {

  object-fit: cover;
  scale: 0.5;
}
